.calendar {
    line-height: normal;
    padding-top: 150px;
}

.month {
    font-size: 73px;
    color: #F91E25;
    font-weight: lighter;
}

.days {
    font-weight: bolder;
}

.cell {
    float: left;
    width: 100px;
    text-align: center;
}

.spacer {
    clear: both;
}

.out-of-month {
    color: darkgrey;
}

#decoupling-from-rails.future { opacity: 0; }
#decoupling-from-rails.present { opacity: 1; }
#decoupling-from-rails.past { opacity: 0; }
#monogamous-tdd.future { opacity: 0; }
#monogamous-tdd.present { opacity: 1; }
#monogamous-tdd.past { opacity: 0; }
#rip-tdd.future { opacity: 0; }
#rip-tdd.present { opacity: 1; }
#rip-tdd.past { opacity: 0; }
