.calendar {
    line-height: normal;
    padding-top: 280px;
}

.month {
    font-size: 73px;
    color: #F91E25;
    font-weight: lighter;
    text-align: center;
}

.draw {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.draw blockquote {
	background-image: url(arguments/dhh.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	padding-left: 60px;
}

.mark {
	font-size: 5em;
	margin-left: 40%;
}

.check {
	color: green;
}

.cross {
	color: red;
}

.almost {
	color: orange;
}

.let-s-code {
	color: grey;
}

.surimpress.future { opacity: 0; }
.surimpress.present { opacity: 1; transition: opacity 0.25s;  }
.surimpress.past { opacity: 0; }